// components/FileUpload.module.scss
.file-upload {
  border: 1px dashed rgb(128, 128, 255);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s;

  &:hover {
    border-color: #444;
  }
  #file-input {
    height: 100%;
    width: 100%;
    display: none;
  }
  .upload-label {
    font-size: 18px;
    color: #84adee;
    font-weight: 500;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .preview-container {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
