.main-material-master-wrapper {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  .addNewMaterial-btn {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .inputs-form-group-div {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    overflow-y: scroll;
    .singnle-form-input-div {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      gap: 5px;
      #input-sin-field {
        padding: 8px;
      }
    }
  }
  .inputs-form-group-div-row {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
    overflow-y: scroll;

    .singnle-form-input-div-row {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      #select-field-label {
        width: 9rem;
      }
      #input-sin-field {
        padding: 8px;
      }
    }
  }
  .btn-submit-wrapper {
    align-self: flex-end;
    flex-grow: 1;
    display: flex;
    gap: 10px;
    .dyn-submit-btn {
      width: 10rem;
      // height: 3rem;
      align-self: flex-end;
    }
  }
}
.drawer-wrapper-form {
  width: 21rem;
  height: 100%;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000029;
    padding: 10px;
    span {
      font-size: 1rem;
      color: #464545;
      font-weight: 500;
    }
  }
  .drawer-Center-Part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    label {
      align-self: flex-start;
    }
    .render-fields-namess {
      width: 100%;
      display: flex;
      gap: 15px;
      flex-direction: column;
      align-items: center;
      .api-chip-wrapper-div {
        padding: 5px;
        width: 18.5rem;
        height: 80px;
        border-radius: 5px;
        outline: 1px solid rgba(31, 31, 31, 0.267);
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2px;
      }
      label {
        align-self: flex-start;
      }
      #DrawerInputFieldCrtId {
        padding: 5px 0 5px 10px;
        width: 18rem;
        height: 30px;
      }
      #DrawerInputFieldCrtId::placeholder {
        font-size: 12px;
        color: brown;
      }
      .minmaxval {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        width: 100%;
        padding: 0 10px;
        label {
          align-self: flex-start;
        }
        #minMaxId {
          width: 4rem;
          height: 15px;
        }
        #minMaxId::placeholder {
          font-size: 12px;
          color: brown;
        }
      }
    }
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #00000029;
    padding: 10px 10px;
    gap: 10px;
  }
}
